<form method="get" action="/author">
<h3>Datos del <%= credito %>:</h3>
<p>Nombre: Jesús </p>
<p>Apellidos: S/D </p>
<p>País: S/D </p>
<p>Foto: 
<p align= "center"><img src="/images/34.jpg"></p>
<p>Video:
<p align="center">
<video src="/video/CuadricopterM.webm"
           width="140" height="100"
           controls 
           preload>
</video>
</p>
</form>