<div class="field">
	<label for="username" class="rem">Usuario:</label><br>
	<input type="text" id="username" name="user[username]" value="<%= user.username %>" size="15" /><p><br/>
</div>
<br />
<div class="field">
	<label for="pass" class="rem" >Contraseña:</label><br />
	<input type="password" id="pass" name="user[password]" size="15" /><p>
</div>
<br />
<div class="actions">
	<a href="/"><button type="button">Cancelar</button></a>
	<input type="submit" value="Enviar"><br>
</div>
