body				{background: #333; }

#page-wrap:after	{content: "Smartphone Layout"; }

#n1					{font-size: medium;}

h1 span				{font-size: xx-small;}
h2 span, section h1	{display: 	none; }
body				{font-size: xx-large; }
footer				{font-size: large; }
input 				{min-width:100%;
					font-size: large;}	
.quiz_img			{float: 	none;
					 height: 	150px; }