<form method="get" action ="/quizes">
<p>Buscar preguntas: </p>
<input type ="text" name="search" placeholder="Busque la pregunta" />
<input type ="submit" value ="Enviar" />
<table align="center">
<% var i; for (i=0; i < quizes.length; i++){ %>
	<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table>

