<form method="get" action="/quizes/<%= quiz.id %>/answer">
 	Pregunta: <%= quiz.pregunta %><br>
	<br><p><input type="text" name="respuesta" placeholder="Responda aquí" /></p><br/>
  <br/><input type="submit" value="Enviar" />	
</form>


